<%= form_with(model: reviewer, local: true) do |form| %>
  <% if reviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reviewer.errors.count, "error") %> 保存できませんでした:</h2>

      <ul>
      <% reviewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'レビュアー名' %>
    <%= form.text_field :name %>
  </div>

  <%= hidden_field_tag :user_id, current_user.id %>

  <div class="actions">
    <%= form.submit '登録', class:'btn btn-primary btn-sm' %>
  </div>
<% end %>
