<p id="notice"><%= notice %></p>

<h4 class="mt-4 border-bottom">
レビュアー一覧
</h4>

<table class="table table-sm table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">レビュアー名</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewers.each do |reviewer| %>
      <tr>
        <td><%= reviewer.name %></td>
        <td><%= link_to '詳細', reviewer, class:'btn btn-outline-info btn-sm' %></td>
        <td><%= link_to '編集', edit_reviewer_path(reviewer), class:'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to '削除', reviewer, method: :delete, data: { confirm: '削除してよろしいですか?' }, class:'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'レビュアー登録', new_reviewer_path, class:'btn btn-outline-dark btn-sm' %>
<% end %>