<p id="notice"><%= notice %></p>

<p>
  <strong>レビュアー名:</strong>
  <%= @reviewer.name %>
</p>

<p>
  <strong>レビュー数:</strong>
  <%= @review_count %>
</p>

<p>
<%= link_to '編集', edit_reviewer_path(@reviewer), class:'btn btn-primary btn-sm' %>
</p>
<p>
<%= link_to '戻る', reviewers_path, class:'btn btn-outline-dark btn-sm' %>
</p>
