<p id="notice"><%= notice %></p>

<p>
  <strong>大会名:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>開催日:</strong>
  <%= @race.started_on %>
</p>

<%= link_to '修正', edit_race_path(@race), class:'btn btn-primary btn-sm' %>
<%= link_to '戻る', races_path, class:'btn btn-outline-dark btn-sm' %>
