<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> 登録できませんでした。:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reviewer, 'レビュアー名' %>
    <%= form.text_field :reviewer %>
  </div>

  <div class="field">
    <%= form.label :race, 'レビュー対象大会' %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label :score, '点数' %>
    <%= form.number_field :score %>
  </div>

  <div class="field">
    <%= form.label :content, 'レビュー詳細' %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit '登録', class:'btn btn-primary btn-sm' %>
  </div>
<% end %>
