<p id="notice"><%= notice %></p>

<p>
  <strong>レビュアー名:</strong>
</p>

<p>
  <strong>Race:</strong>
  <%= @review.race %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
